# SecuredWhisker
VERSION=1.4.1

# User manager (Symfony, PHP)
APP_ENV=dev
DATABASE_URL="pgsql://root:dev-database@dev-database:5432/dev-securedwhisker?serverVersion=16&charset=utf8"
CORS_ALLOW_ORIGIN='^.*$'
SYMFONY_PORT=6000
SERVER_HOST=[DOMAIN]
###> nelmio/cors-bundle ###

# message service (Fiber, GO)
SHOW_ONLY_ERROR=false
SOCKET_PORT=6050
SOCKET_HOST=[DOMAIN]

# To complete

# Frontend
NEXTJS_PORT=6010
NEXTJS_DOMAIN=[DOMAIN]
IP_WHITELIST=""
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

#TextManagerGPT
NEXT_PUBLIC_GPT_API_KEY=""
TextManagerGPT_PORT=6020

# POSTGRES (for docker compose)
POSTGRES_DB=dev-securedwhisker
POSTGRES_PASSWORD=dev-securedwhisker
POSTGRES_USER=root
POSTGRES_PORT=5432
POSTGRES_VERSION=