# SecuredWhisker
VERSION=1.1.0

# User manager (Symfony, PHP)
APP_ENV=dev
DATABASE_URL="pgsql://root:dev-securedwhisker@localhost:5431/dev-securedwhisker?serverVersion=16&charset=utf8"
CORS_ALLOW_ORIGIN='^.*$'
SYMFONY_PORT=6000
SERVER_HOST=[YOUR_SERVER_DOMAIN_OR_IP]
###> nelmio/cors-bundle ###

# message service (Fiber, GO)
SHOW_ONLY_ERROR=false
SOCKET_PORT=6050
SOCKET_HOST=[YOUR_SERVER_IP]

# To complete

# Frontend
NEXTJS_PORT=6010
NEXTJS_DOMAIN=[YOUR_FRONTEND_DOMAIN_OR_IP]

#TextManagerGPT
NEXT_PUBLIC_GPT_API_KEY=""
TextManagerGPT_PORT=6020

# POSTGRES (for docker compose)
POSTGRES_DB=dev-securedwhisker
POSTGRES_PASSWORD=dev-securedwhisker
POSTGRES_USER=root
POSTGRES_PORT=5431
POSTGRES_VERSION=