APP_ENV=prod
APP_SECRET=
DATABASE_URL="pgsql://root:securedwhisker@localhost:5432/securedwhisker?serverVersion=16&charset=utf8"

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^.*$'
###< nelmio/cors-bundle ###
VERSION=2.0.0
###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=0c4a72235ea7085b8b00d113b828a9761822b0123651b6b2ee315197822eea24
###< lexik/jwt-authentication-bundle ###
